<!doctype html>
<html>
<head>
    <title>{% block title %}{% endblock title %}</title>
    {% block static %}
        {# jQuery #}
        <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script> 

        {# datatables.js #}
        <script type="text/javascript" charset="utf8" src="http://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
        <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.9/css/jquery.dataTables.css">

        {# Bootstrap #}
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" />
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

        <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
        <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>

        {# django-datatable-view #}
        <script type="text/javascript" charset="utf8" src="/staticfiles/js/datatableview.js"></script>
        <script type="text/javascript">
            $.fn.editable.defaults.mode = 'inline';
            datatableview.auto_initialize = false;
            $(function(){
                var xeditable_options = {};
                datatableview.initialize($('.datatable'), {
                    fnRowCallback: datatableview.make_xeditable(xeditable_options),
                });
            });
        </script>

        {# test_project helpers #}
        <style type="text/css">
            .nav.sidebar a {
                border-right: 1px solid white;
                padding: 5px 10px;
            }
            .nav.sidebar a.active {
                font-weight: bold;
                background-color: #f0f0f0;
                border-color: #428bca;
            }
            .nav.sidebar li.divider {
                margin: 0.5em;
                border-top: 1px solid #dfdfdf;
            }
        </style>

        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    {% endblock static %}
</head>
<body>
    <div class="container">
        <br />
        <div class="row">
            <div class="col-md-9">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
    </div>
</body>
</html>
