{% extends 'base.html' %}

{% block content %}
  {% block navbar %}
  <nav class="navbar navbar-inverse">
      <div class="container-fluid">
          <div class="navbar-header">
          <a class="navbar-brand" href="/">Spend Tracker</a>
          </div>
          <ul class="nav navbar-nav">
          <li><a href="/">Transactions</a></li>
          <li><a href="/budget"> Budget</a></li>
          <li class="active"><a href="/month_budget_status"> Spent</a></li>
          <li><a href="/accounts/logout">Logout</a></li>
          </ul>
      </div>
  </nav>
  {% endblock %}
  <div id="container" style="width: 75%;">
    <canvas id="month_budget_chart" data-url="{% url 'month_budget_chart' %}"></canvas>
  </div>

  <script>

    $(function () {

      var $month_budgetChart = $("#month_budget_chart");
      $.ajax({
        url: $month_budgetChart.data("url"),
        success: function (data) {

          var ctx = $month_budgetChart[0].getContext("2d");
          var chart_data = {
              labels: data.labels,
              datasets: [{
                label: 'Amount Spent',
                backgroundColor: 'blue',
                data: data.spent_data
              },
              {
                label: 'Budget',
                backgroundColor: 'red',
                data: data.budget_data
              }]          
            }
          new Chart(ctx, {
            type: 'bar',
            data: chart_data,
            options: {
              responsive: true,
              legend: {
                position: 'top',
              },
              title: {
                display: true,
                text: 'Spent By Category (Current Month)'
              },
              scales: {
                  yAxes: [{
                      ticks: {
                          // Include a dollar sign in the ticks
                          callback: function(value, index, values) {
                              return '$' + value;
                          }
                      }
                  }]
              }
            }
          });

        }
      });

    });

  </script>

{% endblock %}